@font-face {
  font-family: "GeistMono";
  src: url('/css/fonts/Geist_Mono/static/GeistMono-Medium.ttf');
}

@font-face {
  font-family: "GeistRegular";
  src: url('/css/fonts/Geist/static/Geist-Regular.ttf');
}

@font-face {
  font-family: "GeistSemiBold";
  src: url('/css/fonts/Geist/static/Geist-SemiBold.ttf');
}

body {
  background-color: black;
  color: white;
  font-family: "GeistRegular"
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

h1 {
  text-align: center;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

#nav {
  display: block;
  width: 100%;
}

#nav>ul {
  list-style-type: none;
  overflow: hidden;
  padding-left: 7px;
}

#nav>ul>li {
  float: left;
  margin-right: 15px;
}

#nav>ul>li>a:hover {
  background-color: lab(27.036% 0 0);
  border-radius: .5rem;
}

#nav>ul>li>a {
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block
}

.btn {
  border-radius: .5rem;
  background-color: white;
  color: black;
  border: none;
  font-size: 15px;
  padding: 5px;
}

.btn:hover {
  border-radius: .5rem;
  background-color: lightgrey !important;
  color: black;
}

h1 {
  font-family: "GeistSemiBold";
  font-size: 36px;
}

table {
  border-radius: .5rem;
  border: 1px solid lab(100 0 0 / 0.1);
  padding: 0px;
  margin-bottom: 10px;
}

table>thead>tr>td,
table>tbody>tr>td {
  padding: 5px;
}

table>thead>tr>td {
  color: white;
  border-bottom: 1px solid lab(100 0 0 / 0.1);
}

table>tbody {
  margin: 0px;
  padding: 0px;
  color: lightgrey !important;
}

input[type=text],
input[type=number],
textarea {
  background-color: black;
  color: white;
  border: 1px solid lab(100 0 0 / 0.1);
  border-radius: .5rem;
  padding: 8px;
}

#threadsTable {
  width: 100%;
}

#newThreadForm,
#newReplyForm {
  max-width: 600px;
  margin: auto;
}

.replybody {
  font-family: GeistMono;
  font-size: 13px;
}

#threadAuthor {
  display: inline;
}

@media screen and (max-width: 600px) {
  #threadAuthor {
    display: block;
    text-align: center;
    float: center;
  }
}