body {
    background-color: #1d1f21;
    color: #c5c8c6;
    font-family: Arial, Helvetica, sans-serif;
}
highlight {
    color: #81c564;
}
a {
    color: #81c564;
}
a:hover {
    color: #529a49;
}
gt {
    color: #b5bd68;
}
rt {
    color: #bd6868;
}
pt {
    color: #b294bb;
}
#nav {
    background-color: #282a2e;
    border: 1px solid black;
    box-shadow: 0px 4px 5px #16171a;
}
#head h1,h2,h3 {
    font-family: Tahoma,sans-serif;
    color: #81c564;
}
input {
    background-color: #1d1f21;
    border: 1px solid black;
    color: white;
}
input:hover {
    background-color: #3d4046;
}
button {
    background-color: #282a2e;
    border: 1px solid black;
    color: white;
    padding: 5px;
}
button:hover {
    background-color: #3d4046;
}
hr {
    border-top: 1px solid #282a2e;
}
table {
    background-color: #f6f6f6;
    background-color: #282a2e;
    border: 1px solid black;
    box-shadow: 0px 4px 5px #16171a;
}
tr {
    border: 1px solid black;
}
tr .top {
    background-color: #3a3d42;
}
td {
    border: 1px solid black;
}
@media only screen and (max-device-width: 480px) {
    #nav {
        background-color: #1d1f21;
        border: 0px solid black;
    }
}
textarea {        
    background-color: #1d1f21;
    border: 1px solid black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
textarea:hover {
    background-color: #3d4046;
}

button {
    background-color: #282a2e;
    border: 1px solid black;
    color: white;
    padding: 5px;
}
button:hover {
    background-color: #3d4046;
}

.submitbutton {
    background-color: #1d1f21;
}

.submitbutton:hover {
    background-color: #3d4046;
}