body {
    background-image: linear-gradient(180deg, #d1d5ee 10%, #eef2ff 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef2ff;
}
highlight {
    color: #af0a0f;
}
a {
    color: #515194;
}
a:hover {
    color: #000000;
}
gt {
    color: #b5bd68;
}
rt {
    color: #af0a0f;
}
pt {
    color: white;
}
#nav {
    background-color: #ffffee;
    box-shadow: 0px 4px 5px #ab9ee9;
    color: #89a;
}

#head h1,h2,h3 {
    font-family: Tahoma,sans-serif;
    color: #af0a0f;
}
hr {
    border-top: 1px solid #282a2e;
}
table {
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 4px 5px #ab9ee9;
}
tr {
    border: 1px solid black;
}
tr .top {
    background-color: #9988ee;
}
td {
    border: 1px solid black;
}
@media only screen and (max-device-width: 480px) {
    #nav {
        background-color: #1d1f21;
        border: 0px solid black;
    }
}
input {
    border: 1px solid black;
    color: black;
}
textarea {
    border: 1px solid black;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.overchanlink {
    color: white;
}