body {
    background-image: linear-gradient(180deg, #fed6af 10%, #ffffee 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffee;
}
highlight {
    color: #81c564;
}
a {
    color: #800000;
}
a:hover {
    color: #440000;
}
gt {
    color: #b5bd68;
}
rt {
    color: #800000;
}
pt {
    color: purple;
}
#nav {
    background-color: #ffffee;
    box-shadow: 0px 4px 5px #9e7f61;
    color: #b86;
}

#head h1,h2,h3 {
    font-family: Tahoma,sans-serif;
    color: #800000;
}
hr {
    border-top: 1px solid #282a2e;
}
table {
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 4px 5px #d1a981;
}
tr {
    border: 1px solid black;
}
tr .top {
    background-color: #ffccaa;
}
td {
    border: 1px solid black;
}
@media only screen and (max-device-width: 480px) {
    #nav {
        background-color: #1d1f21;
        border: 0px solid black;
    }
}
input {
    border: 1px solid black;
    color: black;
}
textarea {
    border: 1px solid black;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}